@model FindDoctor.Classes.CityAndSpec

@{
    ViewBag.Title = "Index";
}

<head>
    <script src="~/Scripts/jquery-3.6.0.slim.min.js"></script>
</head>





<div class="layer"></div>
<!-- Mobile menu overlay mask -->


<main>
    <div class="hero_home version_1">
        <div class="content">
            <h3>DOKTOR BUL</h3>
            <p>
                Çeşitli seçeneklerle arama yap.
            </p>
            @using (Html.BeginForm())
            {
                <div id="custom-search-input">
                    <div class="input-group">
                        <input id="txtSearch" type="text" name="txtsearch" class=" search-query" placeholder="Örnek: İsim, Tıbbi Birim, İl vs..">
                        <input type="submit" class="btn_search" value="Ara">
                     

                    </div>

                </div>
            }

          
        </div>
    </div>
    <!-- /Hero -->

    <div class="container margin_120_95">
        <div class="main_title">
            <h2>Online Başvuruyu <strong> Keşfet </strong></h2>
            <p>Gelişmiş özelliklerle Online Randevu ayarla.</p>
        </div>
        <div class="row add_bottom_30">
            <div class="col-lg-4">
                <div class="box_feat" id="icon_1">
                    <span></span>
                    <h3>Doktor Ara</h3>
                    <p>İsim,tıbbi birim veya vilayetlere göre doktor ara.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box_feat" id="icon_2">
                    <span></span>
                    <h3>Profilini Görüntüle</h3>
                    <p>Doktorunun geçmişini, imkanlarını ve fiyatlarını öğren.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box_feat" id="icon_3">
                    <h3>Randevu Al</h3>
                    <p>Kolay ödeme imkanı ile randevunu al.</p>
                </div>
            </div>
        </div>
        <!-- /row -->
        @*<p class="text-center"><a href="list.html" class="btn_1 medium">Find Doctor</a></p>*@

    </div>
    <!-- /container -->


    <div class="bg_color_1">
        <div class="container margin_120_95">
            <div class="main_title">
                <h2>EN ÇOK GÖRÜNTÜLENEN DOKTORLAR </h2>
                <p>Sitemizde en çok aranan doktorlar.</p>




            </div>
            <div id="reccomended" class="owl-carousel owl-theme">
                @foreach (var item in Model.vieweddoctors)
                {
                    <div class="item">
                        <a href="/Details/DoctorPrivate/@item.Id">
                            <div class="views"><i class="icon-eye-7"></i>@item.Viewed</div>
                            <div class="title">
                                <h4>@item.Name<em>@item.Specializations.Name</em></h4>
                            </div><img width="1200" height="450" src="@item.ProfileImage" alt="">
                        </a>
                    </div>
                }

            </div>
            <!-- /carousel -->
        </div>
        <!-- /container -->
    </div>
    <!-- /white_bg -->



    <div class="container margin_120_95">
        <div class="main_title">
            <h2>DOKTOR VEYA MUAYENEHANE BUL</h2>
            <p>İllere veya tıbbi birimlere göre aramanı yap.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-6">
                <div class="list_home">
                    <div class="list_title">
                        <i class="icon_pin_alt"></i>
                        <h3>İLLERE GÖRE</h3>
                    </div>
                    <ul id="Citys">
                        @foreach (var item in Model.cities.Take(29))
                        {
                            <li><a href="~/Details/ListOfDoctors/@item.Id"><strong>@item.Id</strong>@item.Name</a></li>


                        }

                        @Ajax.ActionLink("Daha Fazla İl Listele", "ListCity", "Home", new AjaxOptions() { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "Citys" },new { @class="form-control", @style="color:pink"})
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6">
                <div class="list_home">
                    <div class="list_title">
                        <i class="icon_archive_alt"></i>
                        <h3>BİRİME GÖRE</h3>
                    </div>
                    <ul>
                        @foreach (var item in Model.specs)
                        {
                            <li><a href="~/Details/ListOfDoctorsUnit/@item.Id">@item.Name</a></li>
                        }

                    </ul>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->

    <div id="app_section">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-md-5">
                    <p><img src="img/app_img.svg" alt="" class="img-fluid" width="500" height="433"></p>
                </div>
                <div class="col-md-6">
                    <small>Application</small>
                    <h3><strong>FinDoctorApp'e</strong> Mobil Desteği</h3>
                    <p class="lead">FindDoctor çok yakında Mobil'de de yayında...</p>
                    <div class="app_buttons wow" data-wow-offset="100">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 43.1 85.9" style="enable-background:new 0 0 43.1 85.9;" xml:space="preserve">
                        <path stroke-linecap="round" stroke-linejoin="round" class="st0 draw-arrow" d="M11.3,2.5c-5.8,5-8.7,12.7-9,20.3s2,15.1,5.3,22c6.7,14,18,25.8,31.7,33.1" />
                        <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-1" d="M40.6,78.1C39,71.3,37.2,64.6,35.2,58" />
                        <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-2" d="M39.8,78.5c-7.2,1.7-14.3,3.3-21.5,4.9" />
						</svg>
                        <a href="#0" class="fadeIn"><img src="img/apple_app.png" alt="" width="150" height="50" data-retina="true"></a>
                        <a href="#0" class="fadeIn"><img src="img/google_play_app.png" alt="" width="150" height="50" data-retina="true"></a>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /app_section -->


</main>


