@model List<FindDoctor.Models.Blog>



@foreach (var item in Model)
{
    <article class="blog wow fadeIn">


        <div class="row no-gutters">

            <div class="col-lg-7" id="asd">
                <figure>
                    <a href="blog-post.html"><img width="400" height="400" src="@item.ImageUrl" alt=""><div class="preview"></div></a>
                </figure>
            </div>
            <div class="col-lg-5">
                <div class="post_info">
                    <small>@item.Date</small>
                    <h3><a href="blog-post.html">@item.Title</a></h3>
                    <p>@item.Text</p>

                    <ul>
                        <li>
                            @*<div class="thumb"><img width="100" height="50" src="@item.Doctors.ProfileImage" alt=""> @item.Doctors.Name</div>*@
                            <h6>@item.Doctors.Name - <i class="icon_comment_alt"></i> 20<h6>
                        </li>
                        @*<li><i class="icon_comment_alt"></i> 20</li>*@
                    </ul>
                </div>
            </div>
        </div>
    </article>
}
